  <!-- BG animated -->
    <div id="single-login-bg-container">
    <div class="col-xs-12" style="padding: 0px;">
        <video autoplay loop id="login_bg-render">
        <source src="../../images/webm/BG_animated.webm" type="video/webm">
        </video>
    </div>
    </div>

<!-- Main content - Login -->
  <div class="content-bg">
        <div class="sidebar-wrapper">
                <div id="login_sidebar-iconholder">
                    <img src="../../images/UB_logo.png" />
                </div>
                <div id="login_sidebar-formholder">
                    <div class="col-xs-8 col-xs-offset-2">
                    <p class="p_bluetext">ACCOUNT LOGIN</p>
                    <form role="form" action="/auth/local" method="post">
                    
                   
                    <div class="form-group">
                        <label for="login_username">USERNAME</label>
                         <input type="text" class="form-control" id="login_username"  name="identifier">
                         <label for="login_password">PASSWORD</label>
                         <input type="password" class="form-control" id="login_password" name="password">
                    </div>
                        <input type="submit" class="btn custom_btn-red" value="Login">
                    </div>
                     </form>
                    <div class="col-xs-8 col-xs-offset-2" id="login_signup-router">
                        <p>NEED AN ACCOUNT?</p>
                        <p><a href="/register" ng-click="$event.stopPropagation()" class="p_bluetext">SIGN UP NOW!</a></p>
                    </div>
                </div>    
            </div>
        </div>