  <header class="c-header">
  <a href="/">
  <div class="l-wrapped" layout="row" >
    <div class="c-site-logo">L<span class="c-site-logo__subtext">eague</span> <sup>o<span class="c-site-logo__subtext">f</span></sup> B<span class="c-site-logo__subtext">ravery</span></div>
    
    <span flex></span>

    
  </div>
  </a>
</header>
  <div id="single-login-bg-container">

  <h1>RULE PAGE!!!</h1>

  </div>