 <% include ../partials/header %>
 
<article class="container l-content l-wrapped c-article">
  
  <h1 class="c-article__title">Ultimate Bravery Rules</h1>

  <h2 class="c-article__section-title">Random champion</h2>
  <p> Everyone will be given a random champion - and must accept the card that they are dealt. If they do not own the champion that they were given, they can request a reroll, which will be granted only if they are believed to ultimately honest. </p>
 
  <h2 class="c-article__section-title">Random items</h2>
  <p>Everyone will be granted a random set of items, that MUST be purchased in the order they are displayed from left to right. One is allowed to wait with boots - being slow is another kind of brave!</p>

  <h2 class="c-article__section-title">Random masteries</h2>
  <p> Everyone will be allocated a given set of points they must allocate to each mastery tree. Cheating in this area is one of the most cowardly things one can do.</p>

  <h2 class="c-article__section-title">Wards, Elixirs and Consumables</h2>
  <p> While wards, elixirs and consumables isn't the traits of a true Leeroy Jenkins (unless you're playing potion master Garen), the use of these will be decided by game consensus. 
    However, if they are decided to be included the following rules apply:
    - Elixirs may only be purchased after the full build has been completed
    - Consumables are allowed - but they must be truly consumable. This means flask and ruby stone is a true no go.
  </p>
  </br>
  <h1 class="c-article__title">Draft Mode Rules</h1>
  <h2 class="c-article__section-title">Random builds</h2>
  <p> Draft mode is also a very brave mode based on the regular "Ultimate Bravery" mode, but here it is bravery on a "first come, first serve" basis. Once all players are in the game, the admin starts the game and builds are instantly rolled with no owners for each team. After this, players take turns to pick a spot with a pre-rolled build.
  </p>

</article>
