<header class="c-header">
  <div class="l-wrapped" layout="row">
    <div class="c-site-logo"><a href="/">L<span class="c-site-logo__subtext">eague</span> <sup>o<span class="c-site-logo__subtext">f</span></sup> B<span class="c-site-logo__subtext">ravery</span></a></div>
    
    <span flex></span>

    <a href="/games/create" class="lob-btn">New Game</a>
  </div>
</header>