<header class="c-header c-header--pushes-content">
  <div class="l-wrapped" layout="row">
    <div class="c-site-logo"><a href="/">L<span class="c-site-logo__subtext">eague</span> <sup>o<span class="c-site-logo__subtext">f</span></sup> B<span class="c-site-logo__subtext">ravery</span></a></div>

    <nav class="c-navbar">
      <a href="/about" class="c-navbar__item">About</a>
      <a href="/rules" class="c-navbar__item">Rules</a>
    </nav>

    <span flex></span>

    <a href="/games/create" class="lob-btn">New Game</a>
  </div>
</header>