<div class="build__main-talents" flex layout="row" layout-align="center center">
  <div class="talents-wrapper shadow-inset" layout="row" layout-align="center center">
    <div class="talent" layout layout-align="center center">
      <p>{{ spot.build.mastery1 }}</p>
    </div>
    <div class="talent" layout layout-align="center center">
      <p>{{ spot.build.mastery2 }}</p>
    </div>
    <div class="talent" layout layout-align="center center">
      <p>{{ spot.build.mastery3 }}</p>
    </div>
  </div>
</div>