<div class="card-deck-container">
  <div class="card-deck">

<article class="card card--rotate-horizontally" >
<div class="card__back"></div>
 <div class="card__front fluid-background" style="background-image: url({{vm.getChampionBackground(vm.build.champion)}});" ng-if="vm.build">
   <div class="card__title">{{vm.getChampion(vm.build.champion).name}}</div>
   <div class="card__meta-icon fluid-background" style="background-image: url({{vm.getChampionSkillImageFromBuild(vm.build)}})" data-sub-icon="{{vm.build.skill_to_level}}"></div>
     <div class="card-grid" layout="column" layout-align="center center">

       <div class="upper-grid" layout="row" flex>
         <div layout layout-align="center center" flex>
           <div class="pill-bar">
             <div class="pill" data-mastery-points="{{ vm.build.mastery1 }}"></div>
             <div class="pill" data-mastery-points="{{ vm.build.mastery2 }}"></div>
             <div class="pill" data-mastery-points="{{ vm.build.mastery3 }}"></div>
           </div>
           </div>

         <div class="summoner-spells" layout="row" layout-align="center center" flex>
           <div class="sprite-input rounded" style="background-image: url({{vm.getSummonerImageFromBuild(vm.build, 'summoner1')}});"></div>
           <div class="sprite-input rounded" style="background-image: url({{vm.getSummonerImageFromBuild(vm.build, 'summoner2')}});"></div>
         </div>
       </div>

       <div class="lower-grid" layout="row" flex layout-align="space-around end">
         <div class="flip-container">
           <div class="flipper">
               <div class="front">
                 <img src="images/questionbox.png" class="sprite-input" />
               </div>
               <div class="back">
                 <div class="sprite-input" style="background-image: url({{vm.getItemImageFromBuild(vm.build, 'bootsEnchantment')}});"></div>
               </div>
           </div>
       </div>
         <div class="flip-container">
           <div class="flipper">
               <div class="front">
                 <img src="images/questionbox.png" class="sprite-input" />
               </div>
               <div class="back">
                  <div class="sprite-input" style="background-image: url({{vm.getItemImageFromBuild(vm.build, 'item1')}});"></div>
               </div>
           </div>
       </div>
       <div class="flip-container">
           <div class="flipper">
               <div class="front">
                 <img src="images/questionbox.png" class="sprite-input" />
               </div>
               <div class="back">
                  <div class="sprite-input" style="background-image: url({{vm.getItemImageFromBuild(vm.build, 'item2')}});"></div>
               </div>
           </div>
       </div>
       <div class="flip-container">
           <div class="flipper">
               <div class="front">
                 <img src="images/questionbox.png" class="sprite-input" />
               </div>
               <div class="back">
                 <div class="sprite-input" style="background-image: url({{vm.getItemImageFromBuild(vm.build, 'item3')}});"></div>
               </div>
           </div>
       </div>
       <div class="flip-container">
           <div class="flipper">
               <div class="front">
                 <img src="images/questionbox.png" class="sprite-input" />
               </div>
               <div class="back">
                 <div class="sprite-input" style="background-image: url({{vm.getItemImageFromBuild(vm.build, 'item4')}});"></div>
               </div>
           </div>
       </div>
       <div class="flip-container">
           <div class="flipper">
               <div class="front">
                 <img src="images/questionbox.png" class="sprite-input" />
               </div>
               <div class="back">
                 <div class="sprite-input" style="background-image: url({{vm.getItemImageFromBuild(vm.build, 'item5')}});"></div>
               </div>
           </div>
       </div>
       </div>
     </div>
   </div>
 </article>
 <div class="overlay" data-overlay-text="Admin is deciding your fate..."></div>
</div>
</div>
