 <!-- BG animated -->
 <div id="single-login-bg-container">
 	<div class="col-xs-12" style="padding: 0px;">
 		<video autoplay loop id="login_bg-render">
 			<source src="../../images/webm/BG_animated.webm" type="video/webm">
 			</video>
 		</div>
 	</div>


 	<div class="auth_content content-bg row">
 		<div class="col-md-4 main-sidebar-wrapper">
 			<div id="create-game-sidebar">
 				<div class="col-xs-8 col-xs-offset-2">
 					<p class="p_bluetext">CREATE NEW GAME</p>
 					<div class="form-group">
 						<label for="game_name">GAME NAME</label>
 						<input type="text" class="form-control" id="game_name"  name="game_name" ng-model="createGame.game.title"> 
 						<label for="game_private">PRIVATE</label>
 						<input type="checkbox" ng-model="createGame.game.private" ng-true-value="true" ng-false-value="false" ng-false class="form-control" id="game_name"  name="game_private"> 
 						<label for="game_name">NUMBER OF PLAYERS</label>
 						<input type="range" ng-model="createGame.game.numberOfSpots" min="1" max="10" step="1" style="width: 140px" class="ng-valid ng-dirty">
 						<p>{{createGame.game.numberOfSpots}}</p>                
 					</div>
 					<input type="submit" class="btn custom_btn-red" value="Create" ng-click="createGame.createGame(createGame.game)">
 				</div> 				
 			</div>    
 		</div>
 		<div class="col-md-8 content-wrapper create-game-content-wrapper">
 			<div class="row  create-game-content">
				<div class="col-md-6 map-image-container"><img src="http://cdn.leagueoflegends.com/game-info/1.1.9/images/content/modes-sr.jpg" alt="" title="Summoners rift"></div>
				<div class="col-md-6 map-image-container"><img src="http://cdn.leagueoflegends.com/game-info/1.1.9/images/content/modes-tt.jpg" alt="" title="Summoners rift"></div>
				<div class="col-md-6 map-image-container"><img src="http://cdn.leagueoflegends.com/game-info/1.1.9/images/content/modes-ha.jpg" alt="" title="Summoners rift"></div>
				<div class="col-md-6 map-image-container"><img src="http://cdn.leagueoflegends.com/game-info/1.1.9/images/content/modes-cs.jpg" alt="" title="Summoners rift"></div>
 			</div>
 		</div>
 	</div>

 </div>