 <div class="card__back"></div>
  <div class="card__front fluid-background" ng-style="{{gameLobby.getChampionBackground(gameLobby.game.spots[0])}}">
    <div class="card__title">{{gameLobby.game.spots[0].build.champion}}</div>
    <div class="card__meta-icon fluid-background" style="background-image: url({{gameLobby.getChampionSkillImageFromBuild(gameLobby.game.spots[0].build,gameLobby.game.spots[0].champion)}})" data-sub-icon=""><p>{{gameLobby.getBuildFromGame(gameLobby.game, gameLobby.game.spots[0].build).skill_to_level}}</p></div>
      <div class="grid">
        <div class="grid__parent grid__parent--4">
          
            <div class="pill-bar">
              <div class="pill" data-mastery-points="10"></div>
              <div class="pill" data-mastery-points="10"></div>
              <div class="pill" data-mastery-points="10"></div>
            </div>
          
          <div class="sub-container group">
            <div class="grid__child rounded grid__parent--2 float--left revealer" data-summoner-spell="Heal"></div>

            <div class="grid__child rounded grid__parent--2 float--left revealer" data-summoner-spell="Lightning"></div>
           
          </div>
        </div>
        <div class="grid__parent grid__parent--2">
          <div class="grid__child revealer" data-item=""></div>
          <div class="grid__child revealer" data-item=></div>
        </div>
        <div class="grid__parent grid__parent--2">
          <div class="grid__child revealer" data-item=""></div>
          <div class="grid__child revealer" data-item=""></div>  
        </div>
        <div class="grid__parent grid__parent--2">
          <div class="grid__child revealer" data-item=""></div>
          <div class="grid__child revealer" data-item=""></div>                
        </div>
      </div>
    </div>