 <div class="card__back"></div>
  <div class="card__front fluid-background" style="background-image: url({{gameLobby.getChampionBackground(spot.build.champion)}});" ng-if="spot.build">
    <div class="card__title">{{spot.build.champion}}</div>
    <div class="card__meta-icon fluid-background" style="background-image: url({{gameLobby.getChampionSkillImageFromBuild(spot.build)}})" data-sub-icon="{{spot.build.skill_to_level}}"></div>
      <div class="grid">
        <div class="grid__parent grid__parent--4">
          
            <div class="pill-bar">
              <div class="pill" data-mastery-points="{{ spot.build.mastery1 }}"></div>
              <div class="pill" data-mastery-points="{{ spot.build.mastery2 }}"></div>
              <div class="pill" data-mastery-points="{{ spot.build.mastery3 }}"></div>
            </div>
          
          <div class="sub-container group">
            <div 
            class="grid__child rounded grid__parent--2 float--left revealer" 
            style="background-image: url({{gameLobby.getSummonerImageFromBuild(spot.build, 'summoner1')}});"></div>

            <div class="grid__child rounded grid__parent--2 float--left revealer" style="background-image: url({{gameLobby.getSummonerImageFromBuild(spot.build, 'summoner2')}});"></div>
           
          </div>
        </div>
        <div class="grid__parent grid__parent--2">
          <div class="grid__child revealer" style="background-image: url({{gameLobby.getItemImageFromBuild(spot.build, 'bootsEnchantment')}});"></div>
          <div class="grid__child revealer" style="background-image: url({{gameLobby.getItemImageFromBuild(spot.build, 'item3')}});"></div> 
          
        </div>
        <div class="grid__parent grid__parent--2">
        <div class="grid__child revealer" style="background-image: url({{gameLobby.getItemImageFromBuild(spot.build, 'item1')}});"></div>
          <div class="grid__child revealer" style="background-image: url({{gameLobby.getItemImageFromBuild(spot.build, 'item4')}});"></div>

        </div>
        <div class="grid__parent grid__parent--2">
          <div class="grid__child revealer" style="background-image: url({{gameLobby.getItemImageFromBuild(spot.build, 'item2')}});"></div>
          <div class="grid__child revealer" style="background-image: url({{gameLobby.getItemImageFromBuild(spot.build, 'item5')}});"></div>                
        
        </div>
      </div>
    </div>

