<div class="modal-content-container modal-content-container--has-graphic join-lobby">
  <span class="modal-graphic modal-graphic--create-game"></span>
  <div class="modal-header">
    <h2 class="modal-title">
    Create a new game, admin
    </h2>
  </div>
  <form name="createForm">
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-10">

        <div class="c-input">
          
          <input placeholder="Your nickname" name="input_game_nickname" id="input_game_nickname" maxlength="28" class="form-control lob-form-input input-lg" type="text" autofocus ng-model="modalCtrl.user.nickname" ng-change="modalCtrl.game.title = modalCtrl.getTitle()" required>

          
          <label for="input_game_nickname" class="c-input__label">
            <span class="c-input__label-content">Your nickname</span>
          </label>

        </div>
        
        <div class="c-input">
          <input placeholder="Game title" name="input_game_title" id="input_game_title" maxlength="28" class="form-control lob-form-input input-lg" type="text" autofocus ng-model="modalCtrl.game.title" required>
          
          <label for="input_game_title" class="c-input__label">
            <span class="c-input__label-content">Game title</span>
          </label>

        </div>

        <div class="c-input">
          
          <input placeholder="Password (Optional)" name="input_game_password" id="input_game_password" maxlength="28" class="form-control lob-form-input input-lg" type="password" ng-model="modalCtrl.game.password" ng-change="modalCtrl.game.private = modalCtrl.game.password ? true : false">
          
          <label for="input_game_password" class="c-input__label">
            <span class="c-input__label-content">Password (Optional)</span>
          </label>

        </div>

        <div class="form-group">
          <select name="select_map" id="select_map" class="form-control lob-select" ng-options="map as map.name for map in modalCtrl.maps track by map.id" ng-model="modalCtrl.selected.map" ng-change="modalCtrl.game.map = modalCtrl.selected.map.id">

          </select>
        </div>

        <div class="form-group">
          <select name="select_mode" id="select_mode" class="form-control lob-select" ng-options="gameMode as gameMode.name for gameMode in modalCtrl.gameModes track by gameMode.id" ng-model="modalCtrl.selected.gameMode" ng-change="modalCtrl.game.gameMode = modalCtrl.selected.gameMode.id">

          </select>
        </div>
      </div>
    </div>
  </div>
  </form>
  
  <div class="modal-footer">
    
    <input type="submit" class="lob-btn" ng-disabled="createForm.$invalid" ng-click="modalCtrl.createGame(modalCtrl.game, modalCtrl.user)" value="Create Game" />
    <input type="submit" class="lob-btn" ng-click="modalCtrl.cancel()" value="Go back" />
  </div>

</div>