<div class="notification">Pick a slot...</div>

<!-- ::::::::::::::::::::::::::::::::: -->
<!-- Unassigned player Hexagon section -->
<!-- ::::::::::::::::::::::::::::::::: -->
    
    <section class="hexagon-wrapper" layout="column" layout-align="center center" ng-if="!gameLobby.game.gameStarted">
      <img class="incogneto-player-hexagon {{$index+1}}" ng-include="'gamelobby/views/incogneto-hexagon.tpl.html'" ng-repeat="user in gameLobby.game.users" ng-if="!gameLobby.userInSpot(user.id, gameLobby.game)">
      </img>
    </section>
      <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
        <defs>
          <clipPath id="">
            <circle cx="84" cy="84" r="50" />
         </clipPath>
        </defs>
      </svg>    
    
<!-- ::::::::::::::::::::::::::::::::: -->
<!-- Card deck section                 -->
<!-- ::::::::::::::::::::::::::::::::: -->
    <div class="card-deck-container" ng-if="gameLobby.game.gameStarted">
      <button 
        ng-if="gameLobby.userOwnsGame()" 
        ng-click="gameLobby.rollBuilds(gameLobby.game)" 
        id="lobby_btn-roll" 
        class="btn btn--success">
        ROLL ALL
      </button>
      <div class="card-deck">
        <article class="card" ng-click="gameLobby.drawCard(gameLobby.game.id, spot)" ng-class="{'card--rotate-horizontally': spot.build.drawn, 'card--gets-overlayed': spot.build.denied, 'card--flies-to-player': spot.build.accepted}" ng-repeat="spot in gameLobby.game.spots track by $index" ng-include="'gamelobby/views/card.tpl.html'" style="z-index: {{ $index+1}};"></article>
        <div class="overlay" data-overlay-text="Admin is deciding your fate..."></div>
      </div>
    </div>

    <script>
(function() {
  $(function() {
    var card, deck, initialCard, layer, notificationInitialState, rerollButtonInitialState, _i, _len;
    initialCard = $('.card').html();
    notificationInitialState = $('.notification').text();
    
    $('.card').on("click", function() {
      return $(this).toggleClass("card--rotate-horizontally");
    });
    $("[ng-click=addBuildToPlayer]").on("click", function() {
      return $('.card-deck .card').first().toggleClass('fly-away');
    });
    rerollButtonInitialState = $('[ng-click=addBuildToPlayer]').text();
    $("[ng-click=requestReroll]").on("click", function() {
      $(this).text("Wait, telling admin...").attr('disabled', 'disabled');
      return $('.notification').text('Lichine has requested a re-roll...');
    });
    return $('.revealer').on("click", function() {
      return $(this).toggleClass("reveal-it");
    });
  });

}).call(this);
</script>