<!--     <section class="hexagon-wrapper" flex layout="column" layout-align="center center"></section>
 -->          
    <div class="notification">Draw a card...</div>
    <div class="card-deck-container centered-container">
      <button 
        ng-if="gameLobby.userOwnsGame()" 
        ng-click="gameLobby.rollBuilds(gameLobby.game)" 
        id="lobby_btn-roll" 
        class="btn btn--success">
        ROLL ALL
      </button>
      <div class="card-deck">
        <article class="card card--rotate-horizontally" ng-class="{'card--rotate-horizontally': spot.build.drawn, 'card--gets-overlayed': spot.build.denied}" ng-repeat="spot in gameLobby.game.spots track by $index" ng-include="'gamelobby/views/card.tpl.html'" style="z-index: {{ $index+1}};"></article>
        <div class="overlay" data-overlay-text="Admin is deciding your fate..."></div>
      </div>

      <div class="card-interactions">
        <button class="btn btn--success" ng-click="addBuildToPlayer">Accept Build</button>
        <button class="btn btn--danger" ng-click="requestReroll">Request Re-Roll</button>
      </div>
    </div>

    <script>
(function() {
  $(function() {
    var card, deck, initialCard, layer, notificationInitialState, rerollButtonInitialState, _i, _len;
    initialCard = $('.card').html();
    notificationInitialState = $('.notification').text();
    
    $('.card').on("click", function() {
      return $(this).toggleClass("card--rotate-horizontally");
    });
    $("[ng-click=addBuildToPlayer]").on("click", function() {
      return $('.card-deck .card').first().toggleClass('fly-away');
    });
    rerollButtonInitialState = $('[ng-click=addBuildToPlayer]').text();
    $("[ng-click=requestReroll]").on("click", function() {
      $(this).text("Wait, telling admin...").attr('disabled', 'disabled');
      return $('.notification').text('Lichine has requested a re-roll...');
    });
    return $('.revealer').on("click", function() {
      return $(this).toggleClass("reveal-it");
    });
  });

}).call(this);
</script>