<div class="c-lobby-top-bar" ng-if="gameLobby.userOwnsGame()">
  <div class="l-wrapped" layout="row">

   <span class="c-lobby-top-bar__item">{{ gameLobby.game.title }}</span>
   <span class="c-lobby-top-bar__item" ng-if="gameLobby.game.private">Private</span>
   <span class="c-lobby-top-bar__item">{{ gameLobby.game.numberOfSpots }} spots</span>
   
   <span flex></span>

   <input type="submit" class="btn btn-success btn-slim" value="Add spot" ng-click="gameLobby.addSpot(gameLobby.game)" />
   </div>
</div>

<main>
  <aside class="sidebar pull--left">
    <ul class="players list-unstyled" layout="column" layout-align="center center">
      <li ng-repeat="spot in gameLobby.game.spots track by $index" ng-if="$even" ng-class="{'shield__expanded':gameLobby.expandedSpots[spot.id]}"
      class="player" ng-disabled="!gameLobby.game.gameStarted" ng-click="!gameLobby.game.gameStarted || gameLobby.toggleSpot(spot)"
      data-champion="Jax" layout="row" layout-align="center center" ng-include="'gamelobby/views/player-token-left.tpl.html'">
      </li>
    </ul>
  </aside>

  <section class="content-container" ng-include="'gamelobby/views/gamelobby-main-content.tpl.html'" layout="column" layout-align="center center">
  </section>
  <aside class="sidebar pull--right">
    <ul class="players list-unstyled" layout="column" layout-align="center center" >
      <li ng-repeat="spot in gameLobby.game.spots track by $index" ng-if="$odd" ng-class="{'shield__expanded':gameLobby.expandedSpots[spot.id]}"
      class="player" ng-disabled="!gameLobby.game.gameStarted" ng-click="!gameLobby.game.gameStarted || gameLobby.toggleSpot(spot)"
      data-champion="Jax" layout="row" layout-align="center center" ng-include="'gamelobby/views/player-token-right.tpl.html'">
      </li>
    </ul>
  </aside>
</main>