<div class="col-xs-6 col-xs-offset-3" style="text-align: center;">
            <button ng-if="gameLobby.userOwnsGame()" ng-click="gameLobby.rollBuilds(gameLobby.game)" id="lobby_btn-roll" class="btn ub-custom-btn custom-btn-red center">ROLL ALL</button>
        </div>
    
    
    <div class="card-deck-container centered-container">  
      <div class="notification">Draw a card...</div>
    
      <div class="card-deck" ng-repeat="spot in gameLobby.game.spots">
        <article class="card" style="z-index: 100;" ng-include="'gamelobby/views/card.tpl.html'"></article>
      </div>

      <div class="card-interactions">
        <button class="btn btn--success" ng-click="addBuildToPlayer">Accept Build</button>
        <button class="btn btn--danger" ng-click="requestReroll">Request Re-Roll</button>
      </div>
    </div>


    <script>
(function() {
  $(function() {
    var card, deck, initialCard, layer, notificationInitialState, rerollButtonInitialState, _i, _len;
    initialCard = $('.card').html();
    notificationInitialState = $('.notification').text();
    
    /*
    deck = ['', '', '', '', '', '', '', ''];
    layer = 0;
    for (_i = 0, _len = deck.length; _i < _len; _i++) {
      card = deck[_i];
      $('.card-deck').append("<article class=\"card\" style=\"z-index:" + layer + "\">" + initialCard + "</article>");
      layer++;
    }
    */
    $('.card').on("click", function() {
      return $(this).toggleClass("card--rotate-horizontally");
    });
    $("[ng-click=addBuildToPlayer]").on("click", function() {
      return $('.card-deck .card').first().toggleClass('fly-away');
    });
    rerollButtonInitialState = $('[ng-click=addBuildToPlayer]').text();
    $("[ng-click=requestReroll]").on("click", function() {
      $(this).text("Wait, telling admin...").attr('disabled', 'disabled');
      return $('.notification').text('Lichine has requested a re-roll...');
    });
    return $('.revealer').on("click", function() {
      return $(this).toggleClass("reveal-it");
    });
  });

}).call(this);
</script>