        <div class="player__build-wrapper" flex layout="column" layout-align="start start">
          <div class="build__main-spells" flex layout="row" layout-align="space-around center">
            <div class="main-spell-wrapper" layout="row" layout-align="center end">
                <div class="main-spell shadow-inset"></div>
                <div class="main-spell-letter" layout layout-align="center center">
                  <p>W</p>
              </div>
              </div>
            <div class="spell-separator"></div>
            <div class="summoner-spell shadow-inset spell-one"></div>
            <div class="summoner-spell shadow-inset spell-two"></div>
          </div>
          
          <div class="build__main-talents" flex layout="row" layout-align="center center">
            <div class="talents-wrapper shadow-inset" layout="row" layout-align="center center">
              <div class="talent" layout layout-align="center center">
                <p>10</p>
              </div>
              <div class="talent" layout layout-align="center center">
                <p>10</p>
              </div>
              <div class="talent" layout layout-align="center center">
                <p>10</p>
              </div>
            </div>
          </div>
          
          <div class="build__main-items" flex layout="row" layout-align="space-around center">
            <div class="item shadow-inset"></div>
            <div class="item shadow-inset"></div>
            <div class="item shadow-inset"></div>
            <div class="item shadow-inset"></div>
            <div class="item shadow-inset"></div>
            <div class="item shadow-inset"></div>
          </div>
        </div>
        <span flex></span>
        <div class="player__portrait-bg"></div>
        <div class="player__token-wrapper" layout="column" layout-align="center center">
 
          <div class="player__option-icon option--one" layout="row" layout-align="center center">
          </div>
          <div class="player__option-icon option--two" layout="row" layout-align="center center">
          </div>
          <div class="player__option-icon option--three" layout="row" layout-align="center center">
          </div>
          
          <div class="player__token-image"></div>
          <div class="player__token-polygon"></div>
          <div class="player__token-nameplate">
            <p class="token-nameplate__player-name">
              Scrappycoco
            </p>
          </div>
        </div>