/* Main content - Login*/

.content-bg{

#roll-btn_lobby{
    background: transparent url(../../../images/orange_btn_roll.png) no-repeat 50% 0%;
    display: block;
    width: 290px;
    height: 84px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: rgba(255,255,255,0.8);
    margin-top: 50px;
    z-index: 2;

&:hover{
    background-position: 50% -83px;
    cursor: pointer;
}
}


#player_shield_container{
    padding-top: 100px;
    margin-bottom: 200px;

.player_shield{
    background-color: red;
    background: transparent url(../../../images/shield.png) no-repeat 50% 0%;
    display: block;
    width: 410px;
    height: 164px;
    position: relative;
    margin: 10px auto 10px auto;
    text-align: center;
    z-index: 2;

&:hover{
    background-position: 50% -164px;
}

#player_name{
    position: absolute;
    color: #fff;
    font-size: 18px;
    left: 150px;
    top: 5px;
}

#hero_icon{
    width: 80px;
    height: 80px;
    margin-top: 64px;
    position: relative;
}

.hero_items{
    width: 45px;
    height: 45px;
    margin-top: 28px;
}

.hero_passives{
    width: 32px;
    height: 32px;
    position: absolute;
}

#passive_1{
    bottom: 20px;
    left: 104px;
}

#passive_2{
    bottom: 20px;
    left: 141px;
}

#hero_masteries_bg{
    position: absolute;
    bottom: 18px;
    right: 20px;
}

#hero_masteries{
    position: absolute;
    top: 130px;
    right: 0;
    padding-right: 26px;
    list-style: none;

    .masteries_text{
        float: left;
        width: 29px;
        color: #fff;
        font-size: 9px;
        font-weight: bold;
        text-align: center;
    }
  }
}
.player_reroll{
    button{
    display: block;
    margin: 0 auto;
    }
  }
}
}


.bgImage1{
    background:url(../../../images/bg_img/bg-ahri.jpg) no-repeat top center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
}
.bgImage2{
    background:url(../../../images/bg_img/bg-annie.jpg) no-repeat top center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
}
.bgImage3{
    background:url(../../../images/bg_img/bg-ashe.jpg) no-repeat top center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
}
.bgImage4{
    background:url(../../../images/bg_img/bg-darius.jpg) no-repeat top center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
}
.bgImage5{
    background:url(../../../images/bg_img/bg-garen.jpg) no-repeat top center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
}
.bgImage6{
    background:url(../../../images/bg_img/bg-jax.jpg) no-repeat top center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
}
.bgImage7{
    background:url(../../../images/bg_img/bg-katarina.jpg) no-repeat top center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
}
.bgImage8{
    background:url(../../../images/bg_img/bg-kayle.jpg) no-repeat top center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
}
.bgImage9{
    background:url(../../../images/bg_img/bg-pantheon.jpg) no-repeat top center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
}
