
<main layout="column" flex layout-align="center center" class="u-fill-height">
  
  <section class="l-games-list-container">
    
    <header class="l-games-list-container__header">
      GAME FILTERS
    </header>

    <ul class="c-games-list list-unstyled" ng-repeat="game in home.games" class="row" ng-hide="game.private">
      <li class="c-games-list__item" layout="row">
        
         <div class="c-games-list__item-meta">
           <div class="c-games-list__item-title">{{game.title}}</div>
           <span am-time-ago="game.createdAt"></span>
           <strong>{{game.user.username}}</strong>
         </div>

         <span flex></span>

         <button class="btn btn-success c-games-list__item-button" ng-click="home.joinGame(game.id)">JOIN</button>  
      </li>
    </ul>

  </section>

</main>
