<div ng-include="'header/views/header.tpl.html'" ng-show="main.state.current.name == 'home'"></div>

<div class="c-hero-banner l-wrapped" layout="row" layout-align="center center">
  <h1 class="c-logo-graphic">
    <span>League</span>
    <span>of</span>
    <span>Bravery</span>
    <div class="c-logo-graphic__subtext">the Ultimate Bravery Team Builder App</div>
  </h1>
  <span class="c-hero-banner__graphic"></span>
</div>

<main layout="column" flex layout-align="center center">
  
  <section class="l-games-list-container is-framed" layout="column" flex="80">
    
    <div class="frame frame--center"></div>

    <header class="l-games-list-container__header">
      <div class="row">
        <div class="col-sm-10">
          <input type="search" class="form-control input input-lg input--search lob-form-input" placeholder="Search for a game" ng-model="home.searchTerm" api-search="home.games">
        </div>
      </div>
    </header>

    <ul class="c-games-list list-unstyled">
      <li class="c-games-list__item" ng-repeat="game in home.games" ng-hide="game.private" layout="row" flex>
        
         <div class="c-games-list__item-meta" flex>
         <div layout="row" layout-align="start center" flex>
           <div layout="column" layout-align="center start" flex>
             <div class="c-games-list__item-title">{{game.title}}</div>
             <div layout="row">
             <span am-time-ago="game.createdAt"></span>, by 
             <strong class="c-games-list__item-username">{{ game.user.nickname }}</strong>
             </div>
             </div>
           <div class="c-games-list__item-spots">{{game.spots.length}}/{{game.numberOfSpots}} spots</div>
           </div>
         </div>

         <button class="lob-btn c-games-list__item-button" ng-click="home.joinGame(game.id)">Join</button>  
      </li>
    </ul>

  </section>

</main>
