 <% include ../partials/header %>

<div id="single-login-bg-container">

<h1>ABOUT PAGE!!!</h1>

<p> This page was created as a response to the immense popularity gained among a group of me and my friends. We currently have a skype chat with 24 people that play it on a regular basis - and the more we can spread it to, the better! However, while playing we encountered one fundamental flaw with the existing alternatives: people are generally cowards!
This trait was particularly strong among our friend <a href="http://www.lolking.net/summoner/euw/19111404">Mefune</a> who just happened to roll a fantastic every time. So Mefune is in effect the true founder of this constant, since he infuriated 23 people enough to make sure he was being ultimately brave!  </p>
<br/>
<br/>
<br/>
<br/>

<h2>Feedback</h2>
<p>If you have any feedback or feature requests, please don't hesitate to contact us! The more people who are actively using this, the more active we will be in updating it. And we will need your feedback! Our current support mail will be info@stampster.dk
</p>

  </div>