
/* Mixins */

@main-bgcolor-blue: #141D24;
@main-bgcolor-blue-50: rgba(20, 29, 36, 0.5);

//blue
@main-blue: #078CE8;
@main-blue-button: #056eb6;
@main-blue-button-dark: #045f9d;

//red
@main-red: #A05050;
@main-red-button: #7e3f3f;
@main-red-button-dark: #6d3737;


  #create-game-sidebar{
  padding-top: 15%;
  background-color: @main-bgcolor-blue-50;
  height: 100%;
  width: 100%;
  border: 1px solid @main-bgcolor-blue;
  
//Login button & signup style
}


.create-game-content-wrapper{
  height: 100%;
  padding-right: 15px;
  .create-game-content{
    padding-top: 15%;
  .map-image-container{
    padding: 15px;
    cursor: pointer !important;
    
    img{
      width: 100%;
      height: auto;
    }
  }
  }

}