/* Mixins */

@main-bgcolor-blue: #141D24;
@main-bgcolor-blue-50: rgba(20, 29, 36, 0.5);

@main-blue: #078CE8;

/* General styles */
html {
    height: 100%;
    min-height:100%;
    background-color: #242424;
}

body{
    background-color: #242424;
    background: url(../images/body_bg_grunge.jpg) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;

h1 {
    font-size: 32px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-color: #FF3300;
    padding: 15px;
    color: #FFF;
    margin: 0px;
}
p, ol {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 15px;
    color: #CCC;
}

label{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 15px;
    color: #f3f3f3;
    font-weight: normal;
}

.p_bluetext{
    font-size: 20px;
    color: @main-blue !important;
    margin-bottom: 30px;
    font-weight: normal;
    cursor: default;
}

li {
    margin-bottom: 24px;
    padding-left: 10px;
}

.center{
    display: block;
    margin: 0 auto;
}

#top-bar {
  background-color: @main-bgcolor-blue;
  opacity: 0.9;
  display: block;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  line-height: 44px;
  padding: 0;
  border-bottom: 1px solid rgba(255,255,255,0.75);

}
.navbar-inverse{
  border: none;
}

.content-bg{
    padding-top: 75px;
}
}

.bgImage1{
    background:url(../../../images/bg_img/bg-ahri.jpg) no-repeat top center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
}
.bgImage2{
    background:url(../../../images/bg_img/bg-annie.jpg) no-repeat top center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
}
.bgImage3{
    background:url(../../../images/bg_img/bg-ashe.jpg) no-repeat top center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
}
.bgImage4{
    background:url(../../../images/bg_img/bg-darius.jpg) no-repeat top center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
}
.bgImage5{
    background:url(../../../images/bg_img/bg-garen.jpg) no-repeat top center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
}
.bgImage6{
    background:url(../../../images/bg_img/bg-jax.jpg) no-repeat top center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
}
.bgImage7{
    background:url(../../../images/bg_img/bg-katarina.jpg) no-repeat top center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
}
.bgImage8{
    background:url(../../../images/bg_img/bg-kayle.jpg) no-repeat top center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
}
.bgImage9{
    background:url(../../../images/bg_img/bg-pantheon.jpg) no-repeat top center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
}