// Config
@core-transition: cubic-bezier(0.215, 0.610, 0.355, 1.000);
@icon__player_token_polygon: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
@icon__player_token_base: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/16584/Hexagon-base.svg';
@icon_player_token_base_png: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/16584/Hexagon-token-base.png';
@icon_player_token_player_name_png: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/16584/Hexagon-player-name.png';
@card_corner_radius: 1.13rem;
@items_sprite_src: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/16584/ubtb_items.png';
@items_sprite_blue_src: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/16584/ubtb_items_sprite_blue.png';
@icon_player_token_base_png_metallic: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/16584/hexagon_metal.png';
@icon_name_cloth_red: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/16584/Hexagon-name-cloth-red.png';
@icon_name_cloth_blue: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/16584/Hexagon-name-cloth-blue.png';
@player__shield-grey: #333333;
@talent_color_red: #6d3737;
@talent_color_blue: #37526d;
@talent_color_green: #376d52;


//Functions
.transition (@arguments){
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -ms-transition: @arguments;
  transition: @arguments;
}

.transform (@arguments){
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}

.animation (@arguments){
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
  animation: @arguments;
}