/* Mixins */

@main-bgcolor-blue: #141D24;
@main-bgcolor-blue-50: rgba(20, 29, 36, 0.5);

//blue
@main-blue: #078CE8;
@main-blue-button: #056eb6;
@main-blue-button-dark: #045f9d;

//red
@main-red: #A05050;
@main-red-button: #7e3f3f;
@main-red-button-dark: #6d3737;


// Main content - Login
  body{
    background:url(../../../images/bg_img/BG_still.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size:cover;
  }

.content-bg{
  padding-top: 0px !important;
  height: 100%;

//Sidebar content
.sidebar-wrapper {
  height: 100%;
  width: 100%;
  max-width: 450px;
  position: absolute;
  overflow: hidden;

//Logo
#login_sidebar-iconholder{
  background-color: @main-bgcolor-blue-50;
  height: 25%;
  width: 100%;
  border: 1px solid @main-bgcolor-blue;
  margin-bottom: 1%;
  img{
    display: block;
    margin: 0 auto;
    height: 70%;
    width: auto !important;
    margin-top: 8%;
  }
}

//Form
#login_sidebar-formholder{
  padding-top: 15%;
  background-color: @main-bgcolor-blue-50;
  height: 100%;
  width: 100%;
  border: 1px solid @main-bgcolor-blue;
  
//Login button & signup style
#login_signup-router{
    .p_bluetext{
      font-size: 15px;
      text-decoration: none;
      cursor: pointer !important;
    }
}
}
}
}


//Media queries
@media (max-width: 1400px){
  
  #single-login-bg-container{
    display: none;
  }
}